<h1> Kurser </h1>

<!-- sökningsfält -->
<input type="text" [(ngModel)]="searchText" (input)="searchTable()" placeholder="Sök här...">

<table>
    <thead>
        <tr>
            <th>Kurskod</th>
            <th>Kursnamn</th>
            <th>Progression</th>
            <th>Kursplan</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of filteredCourses">
            <td>{{ course.code }}</td>
            <td>{{ course.coursename }}</td>
            <td>{{ course.progression }}</td>
            <td>{{ course.syllabus }}</td>
        </tr>
    </tbody>
</table>