@use '../../styles.scss' as *;

div { 
    @include width(100%, 800px);

    input { 
        width: 100%; 
        box-sizing: border-box;
        border-top-left-radius: 0.3em!important;
        border-top-right-radius: 0.3em!important;
    }

    input[type="text"] {
        border-radius: 0;
        border: 1px solid $brightest-color;
        padding: 0.5rem;
      }
      
      input[type="text"]:focus {
        outline: none; 
        border-color: $deviating-color;
        background-color: $deviating-color;
        transition: 0.2s ease-in;
      }
}

table {
    background-color: $brighter-color;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;

    td { padding: 0.4em 1em; }

    #center { text-align: center; }

    th { 
        background-color: $bright-color; 
        text-align: left;
        padding: 0.5em;
        transition: 0.2s ease-in;

        &:hover { @include color($deviating-color, $primary-color); cursor: pointer; }
    }

    th:last-of-type {
        &:hover { @include color($bright-color, $brightest-color); cursor: default; }
    }

    a { 
        color: $brightest-color; 
        transition: 0.2s ease-in;

        &:hover { color: $deviating-color; }
    }
}

@media only screen and (max-width: 500px) {
    table, div > input { border-radius: 0!important; }
    table { font-size: 14px; padding: 0;}
    th, td { padding: 0!important; }
}

@media only screen and (max-width: 367px) { table { font-size: 10px; }}
