<div>

<!-- sökningsfält -->
<input type="text" [(ngModel)]="searchText" (input)="searchTable()" placeholder="Sök här...">

<table>
    <thead>
        <tr>
            <th (click)="sortTable('code')">Kurskod</th>
            <th (click)="sortTable('coursename')">Kursnamn</th>
            <th (click)="sortTable('progression')">Progression</th>
            <th>Kursplan</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of filteredCourses">
            <td>{{ course.code }}</td>
            <td>{{ course.coursename }}</td>
            <td id="center">{{ course.progression }}</td>
            <td>
                <a [href]="course.syllabus" target="_blank">Länk till kursplan</a>
            </td>
        </tr>
    </tbody>
</table>

</div>