@use '../styles.scss' as *;

header {
    text-align: center;
    background: none;
    margin-bottom: 2em;

    h1 { margin-top: 1.2em; }
}

footer {
    @include align(flex, center, center);
    margin: 3em 0;
    gap: 1em;
    width: 100%;

    p { 
        font-size: 12px; 
        background: none; 
        font-family: 'Poppins';
    }

    img { width: 40px; height: 15px; }
}

@media only screen and (max-width: 367px) {
    header > h1 { font-size: 16px; }
    header { margin-bottom: 1em; }
    footer > p { font-size: 9px; }
    footer { margin: 1em 0; }
}