@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

$primary-color: #464646;
$deviating-color: rgb(240, 240, 78);
$deviating-bright: rgb(252, 252, 168);

$dark-color: darken($primary-color, 10%);
$darker-color: darken($primary-color, 14%);
$bright-color: lighten($primary-color, 10%);
$brighter-color: lighten($primary-color, 30%);
$brightest-color: lighten($primary-color, 100%);

@mixin align($display, $justify, $align) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
}

@mixin color($bg, $text) {
    background-color: $bg;
    color: $text;
}

@mixin width($width, $max) {
    width: $width;
    max-width: $max;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

body {
    @include align(flex, center, center);
    @include color($primary-color, $brightest-color);
    font-family: 'Poppins';
    margin: 0;
}